@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");

:root {
  --text-color: #323233;
  --selected: #cacaca;
  --hover: #e8e9ea;
  --selected-yellow: #ecbb01;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fefeff;
  color: var(--text-color);
}

.page-title {
  font-weight: bolder;
  font-size: larger;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f5f5f7;
}

.get-all-tasks-btn {
  border: none;
  font-size: 15px;
  padding: 0.4%;
  background-color: inherit;
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out;
}

.get-all-tasks-btn:hover {
  background-color: #c0c0c0;
  border-radius: 2px;
  font-size: 15px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar {
  display: flex;
  flex-direction: column;
  height: 96vh;
  border: 1px solid #e0e0e0;
  width: 280px;
  margin-top: 0;
}

.side-bar ul {
  list-style: none;
  text-align: left;
}

#selected {
  background-color: var(--selected-yellow);
  color: white;
  border: none;
}

.task {
  padding: 4%;
  margin: 3%;
  border-bottom: 0.2px solid var(--selected);
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task:hover {
  background-color: var(--hover);
}

.task-content {
  display: block;
  border: 1px solid #e0e0e0;
  border-left: none;
  margin-top: 0;
  width: 75%;
  height: 96vh;
}

.task-content-textarea {
  margin: 2%;
  font-size: large;
  font-weight: 250;
  outline: none;
}

.task-title-textarea {
  margin-top: 2%;
  margin-left: 2%;
  outline: none;
}

.task-content-textarea:focus {
  border: none;
  outline: none;
}

#icon-disabled {
  color: var(--selected-yellow);
}

#icon-selected {
  color: white;
}
